.positioner {
  composes: positioner from './popover-form.module.css';
}

.popup {
  composes: popup from './popover-form.module.css';
  width: min(18rem, calc(100vw - var(--space-l)));
}

.title {
  composes: title from './popover-form.module.css';
}

.field {
  composes: field from './popover-form.module.css';
}

.label {
  composes: label from './popover-form.module.css';
}

.input {
  composes: input from './popover-form.module.css';
}

.actions {
  composes: actions from './popover-form.module.css';
}

.ghost {
  composes: ghost from './popover-form.module.css';
}

.submit {
  composes: submit from './popover-form.module.css';
}
